# CONFIGURACIÓN DE RESPALDO WASABI S3 (DBP AGENT)

# URL del bucket: s3:s3.wasabisys.com/tu-bucket-nombre
RESTIC_REPOSITORY=s3:s3.wasabisys.com/dbp-backups-hwperu

# Credenciales de Wasabi (Seccion Access Keys del Panel)
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_AQUI

# Contraseña de Encriptación (Restic necesita esto para cifrar tus datos en la nube)
RESTIC_PASSWORD=TU_SUPER_PASSWORD_DBP_123

# Información del Agente (Identificador en el dashboard)
DBP_AGENT_ID=mi-vps-servidor

# URL de la API Central
DBP_API_ENDPOINT=https://api.hwperu.com
DBP_API_TOKEN=dbp_tenant_TU_TOKEN_SSO_AQUI
