  GNU nano 4.8                                                    .env                                                              
# CONFIGURACIÓN DE RESPALDO WASABI S3 (DBP AGENT)

# URL del bucket: s3:s3.wasabisys.com/tu-bucket-nombre
RESTIC_REPOSITORY=s3:s3.wasabisys.com/portal-hwperu

# Credenciales de Wasabi (Seccion Access Keys del Panel)
AWS_ACCESS_KEY_ID=T8H26RLT2KXZBBZQNH2I
AWS_SECRET_ACCESS_KEY=YhQEqLlA4zetuFvAlmFwz4v3mBU7B6twKM0wPuY3

# Contraseña de Encriptación (Restic necesita esto para cifrar tus datos en la nube)
RESTIC_PASSWORD=Kjs83!xP9aLz_2026_secure

# Información del Agente (Identificador en el dashboard)
DBP_AGENT_ID=vps

# URL de la API Central
DBP_API_ENDPOINT=https://api.hwperu.com
DBP_API_TOKEN=dbp_tenant_TU_TOKEN_SSO_AQUI
