# CONFIGURACIÓN DEL CONTROL PLANE (API CENTRAL)

# Puerto donde escuchará la API (Gin)
PORT=8080

# TOKEN MAESTRO DE ADMINISTRACIÓN
# Debe coincidir con el que configures en el Addon de WHMCS para ver todos los clientes.
MASTER_ADMIN_TOKEN=dbp_admin_hwperu_master_2024_secure_v1

# Entorno (gin.debug o gin.release)
GIN_MODE=release
